<h1>Welcome Back!</h1>
<form method="post" action="/login">
  <input type="text" name="user[username]" placeholder="Username:">
  <input type="text" name="user[password]" placeholder="Password:">
  <input type="submit" value="Log In">
</form>
