<h1>Your Overwatch Team Library</h2>
<a href="/teams/new">Create New Team</a>


<h2>Your Teams</h2>
<% @user.teams.each do |team| %>
<li><a href="/teams/<%=team.id%>"><%= team.name %></a></li>
<% end %>
