<form method="post" action="/characters/new">
  <input type="text" name="character[name]">
  <input type="checkbox" name="character[role]" value="Support">
  <input type="checkbox" name="character[role]" value="Damage">
  <input type="checkbox" name="character[role]" value="Tank">
  <input type="submit" value="Create Character">
</form>
