<!doctype html>
<html>
  <head>
    <title>Overwatch Team Library</title>
  </head>
  <body>
    <% unless @error == nil %>
    <%=@error%>
    <br></br>
    <% end %>
    <%= yield %>
  </body>
</html>
